<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <%# 検索フォーム %>
      <%= render 'posts/search_form' %>
      <%= link_to "投稿する", new_post_path, class: "btn btn-add float-right" %>
      <%# タブ %>
    
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#word" class="nav-link" data-toggle="tab">言葉</a>
        </li>
        <li class="nav-item">
          <a href="#episode" class="nav-link active" data-toggle="tab">エピソード</a>
        </li>
      </ul>
    </div>
  </div> 
      
  <%# パネル部分 %>
    <div class="tab-content mt-3">
      <div id="word" class="tab-pane">
      <div class="row">
        <div class="col-md-10">
          <%= render 'posts/post' %>
          <%= paginate @posts %>
        </div>
        <div class="col-md-2 mb-5">
          <%# カテゴリー一覧 %>
          <%= render 'posts/category', categories: @categories %>
        </div>
      </div>
      </div>
      
      <div id="episode" class="tab-pane active">
      <div class="row">
        <div class="col-md-10">
          <%= render 'posts/episode' %>
          <%= paginate @posts %>
        </div>
        <div class="col-md-2 mb-5">
          <%# ジャンル一覧 %>
          <%= render 'posts/genre' %>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>