<p>コメント（全<%= post.comments.count %>件）</p>
<% post.comments.each do |comment| %>
  <table class="table">
    <tr>
      <td class="w-25">
        <% if post.user.image.present? %>
          <%= image_tag post.user.image.to_s, size: "80x80", class: "user-image" %>
        <% else %>
          <%= image_tag "default.jpg", size: "80x80", class: "user-image" %>
        <% end %><br>
        <%= comment.user.name %>
      </td>
      <td>
        <%= time_ago_in_words(comment.created_at) %>前<br>
        <%= simple_format(comment.body) %>
        <% if comment.user == current_user %>
          <%= link_to "削除する", post_comment_path(post, comment.id), method: :delete, remote: true, class: "btn btn-delete", data: {confirm: '本当に消しちゃっていいの?'} %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>