<div class="text-center pb-3">
  <% if user.image.present? %>
    <%= image_tag user.image.to_s, size: "100x100", class: "user-image" %>
  <% else %>
    <%= image_tag "default.jpg", size: "100x100", class: "user-image" %>
  <% end %>
</div>
<p>名前
  <% unless user.publish? %>
    <i class="fas fa-user-lock"></i>
  <% end %>
  <%= user.name %>
</p>
<p>自己紹介<%= simple_format(user.introduction) %></p>
<% if user == current_user %>
  <div class="text-center">
  <%= link_to "編集する", edit_user_path(user), class: "btn btn-update mr-3" %>
  <%= link_to "退会する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-delete" %>
  </div>
<% end %>