<div class="container">
  <div class="row">
    <div class="col-md-10 my-5 mx-auto">
    <h3 class="mb-3">ユーザー一覧</h3>
      <table class="table">
        <% @users.each do |user| %>
          <% if user.released? || user == current_user %>
            <tr>
              <td>
                <% if user.image.present? %>
                  <%= image_tag user.image.to_s, size: "100x100", class: "user-image" %>
                <% else %>
                  <%= image_tag "default.jpg", size: "100x100", class: "user-image" %>
                <% end %>
                <% unless user.released? %>
                  <i class="fas fa-user-lock"></i>
                <% end %>
                <%= user.name %>
                <%= user.introduction %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <%= paginate @users %>
    </div>
  </div>
</div>