<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 mb-3">
    <span class="username"><%= @user.name %>のページ</span>
    <% if @user.admin? %>
      <%= link_to "管理画面へ行く", rails_admin_path, class: "btn btn-move float-right" %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="mr-3 mb-5 bg-light rounded random-slide">
        <%# ランダムスライド %>
        <% @random.each do |post| %>
        <div class="slide-item text-center">
          <i class="slide-word">
          <%= post.word %></i>
          <p class="slide-source">
          <%= post.source %></p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 p-4 mb-5 bg-light rounded"> 
      <%= render 'profile', user: @user %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 my-5">
      <%# タブ %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#word" class="nav-link active" data-toggle="tab">私の投稿</a>
        </li>
        <li class="nav-item">
          <a href="#episode" class="nav-link" data-toggle="tab">私のお気に入り</a>
        </li>
      </ul>

    <%# パネル部分 %>
    <div class="tab-content">
      <div id="word" class="tab-pane active">
        <%# 自分の投稿一覧 %>
        <%= render 'posts/post' %>
        <%= paginate @posts %>
      </div>
      <div id="episode" class="tab-pane">
        <%# お気に入りした投稿一覧 %>
        <table class="table mt-3">
          <tr>
            <th class="w-50">言葉</th>
            <th>引用元</th>
            <th>カテゴリー</th>
            <th></th>
          </tr>
          <% @favorites.each do |favorite| %>
            <tr>
              <td>
                「<i><%= favorite.post.word %></i>」
              </td>
              <td>
                <%= favorite.post.source %>
              </td>
              <td>
                <%= t("enumerize.favorite.post.category.#{favorite.post.category}") %>
              </td>
              <td>
                <%= link_to "詳細", post_path(favorite.post), class: "btn btn-move" %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= paginate @favorites %>
      </div>
    </div>
  </div>
</div>