<div class="container mypage">
  <div class="row">
    <div class="col-md-12 mt-5 mb-3">
    <span class="username"><%= @user.name %>のページ</span>
    <% if @user.admin? %>
      <%= link_to "管理画面へ行く", rails_admin_path, class: "btn btn-move float-right" %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="mr-3 mb-5 bg-light rounded random-slide">
        <%# ランダムスライド %>
        <%= render 'homes/random', random: @random %>
      </div>
    </div>
    <div class="col-md-3 p-4 mb-5 bg-light rounded"> 
      <%= render 'profile', user: @user %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-5">
    <%= link_to "投稿する", new_post_path, class: "btn btn-add float-right" %>
      <%# タブ %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#mypost" class="nav-link active" data-toggle="tab">私の投稿</a>
        </li>
        <li class="nav-item">
          <a href="#favpost" class="nav-link" data-toggle="tab">私のお気に入り</a>
        </li>
      </ul>

    <%# パネル部分 %>
    <div class="tab-content">
      <div id="mypost" class="tab-pane active">
        <%# 自分の投稿一覧 %>
        <%= render 'posts/post' %>
        <%= paginate @posts %>
      </div>
      <div id="favpost" class="tab-pane">
        <%# お気に入りした投稿一覧 %>
        <%= render 'posts/myfavorites' %>
        <%= paginate @favorite_posts %>
      </div>
    </div>
  </div>
</div>