<div class="container">
  <div class="row">
    <div class="col-md-12 py-3 mt-5 bg-light">
    <%= render 'layouts/error_message', model: @post %>
    <h3 class="text-center">言葉を編集する</h3>
    </div>
  </div>
  <%= form_with model: @post, local: true do |f| %>
  <div class="row">
    <div class="col-md-6 px-5 bg-light">

      <span class="label p-1 mr-1 rounded">必須</span>
      <%= f.label :word %><br>
      <%= f.text_area :word, class: "mb-3 w-100", placeholder: "あなたが救われた言葉を教えてください" %><br>

      <span class="label p-1 mr-1 rounded">必須</span>
      <%= f.label :source %><br>
      <%= f.text_field :source, class: "mb-3 w-100", placeholder: "作品名や作者など引用元を入力してください" %><br>

      <span class="label p-1 mr-1 rounded">必須</span>
      <%= f.label :category %><br>
      <%= f.select :category, Post.category.options, {include_blank: "--選択してください--"} %>
    </div>

    <div class="col-md-6 px-5 bg-light">
      <span class="label p-1 mr-1 rounded">必須</span>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "mb-3 w-100", placeholder: "エピソードタイトルを入力してください" %><br>

      <span class="label p-1 mr-1 rounded">必須</span>
      <%= f.label :episode %><br>
      <%= f.text_area :episode, class: "mb-3 w-100", placeholder: "その言葉にまつわるエピソードを教えてください" %><br>

      <span class="label p-1 mr-1 rounded">必須</span>
      <%= f.label :genre %><br>
      <%= f.select :genre, Post.genre.options, {include_blank: "--選択してください--"} %>

      <p></p>
      <span><%= f.radio_button :status, :released, {checked: true} %> 公開する</span>
      <span><%= f.radio_button :status, :nonreleased, {} %> 非公開にする</span>
    </div>

    <div class="col-md-12 py-5 mb-5 text-center bg-light">
      <%= f.submit "更新する", class: "btn btn-add", data: { confirm: "引用元は詳しく書かれていますか？<br>引用部分を改変していないですか？", cancel: 'キャンセル', commit: '更新する' }, title: "引用ルールを守れていますか?" %>
    </div>
  <% end %>
  </div>
</div>