<div class="container">
  <div class="row">
    <div class="col-md-12 my-5">
    <h3>言葉一覧</h3>
    <%= link_to "投稿する", new_post_path, class: "btn btn-add float-right" %>
      <table class="table">
          <tr>
           <th class="w-50">言葉</th>
           <th>引用元</th>
           <%# <th>人名</th> %>
           <th>カテゴリー</th>
           <th></th>
          </tr>
        <% @posts.each do |post| %>
          <% if post.released? || post.user.released? || post.user == current_user %>
            <tr>
              <td>
                <% unless post.released? %>
                  <i class="fas fa-lock"></i>
                <% end %>
                <%= post.word %>
              </td>
              <td>
                <%= post.source %>
              </td>
              <%# <td>
                <%= post.who %>
              <%# </td> %>
              <td>
                <%= post.category %>
              </td>
              <td>
                <%= link_to "詳細", post_path(post), class: "btn btn-move" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>