<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <%# 検索フォーム %>
      <%= render 'search_form' %>
      <%= link_to "投稿する", new_post_path, class: "btn btn-add float-right" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 mb-5">

      <%# タブ %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#word" class="nav-link active" data-toggle="tab">言葉</a>
        </li>
        <li class="nav-item">
          <a href="#episode" class="nav-link" data-toggle="tab">エピソード</a>
        </li>
      </ul>
      
      <%# パネル部分 %>
      <div class="tab-content mt-3">
        <div id="word" class="tab-pane active">
          <%= render 'post' %>
          <%= paginate @posts %>
        </div>
        <div id="episode" class="tab-pane">
          <%= render 'episode' %>
          <%= paginate @posts %>
        </div>
      </div>
    </div>

    <div class="col-md-2 my-5">
      <%# カテゴリー一覧 %>
      <%= render 'category' %>
    </div>
  </div>
</div>