<div class="container">
  <div class="row">
    <div class="col-md-10 p-5 my-5 mx-auto bg-light rounded">
      <div class="mb-3">
        <p class="mb-4">言葉<br><%= @post.word %></p>
        <hr width="100%" align="center">
        <p>引用元　　：　<%= @post.source %></p>
        <p>カテゴリー：　<%= @post.category %></p>
      </div>

      <%# お気に入りボタン %>
      <% if user_signed_in? %>
        <div id="favorites_buttons_<%= @post.id %>">
          <%= render partial: 'favorites/favorite', locals: { post: @post} %>
        </div>
      <% end %>

      <%# SNSシェアボタン %>
      <span><%= social_share_button_tag (@post.word) %></span>

      <hr width="100%" align="center">

      <div class="my-4">
        <p>タイトル　：　<%= @post.title %></p>
        <p>エピソード<br><%= @post.episode %></p>
        <p>ジャンル　：　<%= @post.genre %></p>
      </div>

      <hr width="100%" align="center">

      <p class="my-4">投稿者
        <% if @post.user.image.present? %>
          <%= image_tag @post.user.image.to_s, size: "80x80", class: "user-image" %>
        <% else %>
          <%= image_tag "default.jpg", size: "80x80", class: "user-image" %>
        <% end %>
        <%= @post.user.name %>
      </p>
      <% if @post.user == current_user %>
        <%= link_to "編集する", edit_post_path(@post), class: "btn btn-update" %>
        <%= link_to "削除する",post_path(@post),method: :delete, class: "btn btn-delete", data: { confirm: "削除しますか?" } %>
      <% end %>
    </div>

    <%# コメント一覧 %>
    <div class="col-md-10 mx-auto">
      <div id="comment_<%= @post.id %>">
        <%= render partial: 'comments/index', locals: { post: @post } %>
      </div>

      <%# コメントフォーム %>
      <div class="comment_form text-center my-5">
        <% if user_signed_in? %>
          <div class="comment_form">
            <%= render partial: 'comments/form', locals: { post: @post } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
