<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <%# 検索フォーム %>
      <%= render 'posts/search_form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 mb-5">
      <span class="word-header">言葉一覧</span>
      <%= link_to "投稿する", new_post_path, class: "btn btn-add float-right" %>

      <%# 記事一覧 %>
      <%= render 'posts/post' %>

      <%= paginate @posts %>
    </div>
    
    <div class="col-md-2 my-5">
      <%# カテゴリー一覧 %>
      <%= render 'posts/category', categories: @categories %>
    </div>
  </div>
</div>