<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto p-5 my-5 bg-light rounded">
      <%= form_for @inquiry, url: inquiries_path do |f| %>
        <h3 class="text-center">お問い合わせ</h3>
        <span class="label p-1 mr-1 rounded">必須</span>
        <%= f.label :name, class:"mt-3" %><br>
        <%= f.text_field :name, class: "w-100" %><br>

        <span class="label p-1 mr-1 rounded">必須</span>
        <%= f.label :email, class:"mt-3" %><br>
        <%= f.text_field :email, class: "w-100" %><br>

        <span class="label p-1 mr-1 rounded">必須</span>
        <%= f.label :message, class:"mt-3" %><br>
        <%= f.text_area :message, class: "w-100" %><br>

        <%= f.submit '送信する', class: 'btn btn-add w-100 mt-3' %>
        <p>注意！ 送信しても運営者に届きません</p>
      <% end %>
    </div>
  </div>
</div>