<div class="container">
  <div class="row">
    <div class="logo">コトダマ #救われた言葉</div>
    <ul>
      <li><%= link_to "言葉一覧", "#" %></li>
      <li><%= link_to "新規会員登録", "#" %></li>
      <li><%= link_to "ログイン", "#" %></li>
    </ul>
    <ul>
      <li><%= link_to "マイページ", "#" %></li>
      <li><%= link_to "言葉一覧", "#" %></li>
      <li><%= link_to "ユーザー一覧", "#" %></li>
      <li><%= link_to "ログアウト", "#" %></li>
    </ul>
  <div>
<div>