<!DOCTYPE html>
<html>
  <head>
    <title>Kotodama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <%= favicon_link_tag('favicon.ico') %>

  </head>

  <body>
    <div class="loader-wrap">
      <div class="loader">
        <%= render 'layouts/header' %>
        <main>
          <% flash.each do |type, msg| %>
            <% type = 'success' if type == 'notice' %>
            <% type = 'error' if type == 'alert' %>
            <script>
              toastr['<%= type %>']('<%= msg %>');
            </script>
          <% end %>
        <%= yield %>
        </main>
        <%= render 'layouts/footer' %>
      </div> 
    </div>
  </body>
</html>
